In [52]:
#import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import datetime
import time

In [53]:
#read in the file 
file_name = "../data/job_descriptions.csv"
df = pd.read_csv(file_name)

In [54]:
#check the head and shape of the data
df.head
df.shape

(1615940, 23)

In [55]:
#check the columns
# Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
#        'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
#        'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
#        'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
#        'skills', 'Responsibilities', 'Company', 'Company Profile'],
#       dtype='object')
df.columns
df.dtypes
#company profile has 5478 na's
df.isna().sum()
df.shape

(1615940, 23)

In [56]:
#drop the na's in the company profile columns
df = df.dropna(subset=['Company Profile'])
df.shape
df.isna().sum()

Job Id              0
Experience          0
Qualifications      0
Salary Range        0
location            0
Country             0
latitude            0
longitude           0
Work Type           0
Company Size        0
Job Posting Date    0
Preference          0
Contact Person      0
Contact             0
Job Title           0
Role                0
Job Portal          0
Job Description     0
Benefits            0
skills              0
Responsibilities    0
Company             0
Company Profile     0
dtype: int64

In [57]:
#only keep experience, qualificatioms, location, job title, role, job descritpion, and company
df = df[['Experience', 'Qualifications', 'location', 'Job Title', 'Role', 'Job Description', 'Company']]
df.head(5)
df.shape

(1610462, 7)

In [58]:
# #check the unique values in the experience column
df['Experience'].unique()
# #check the unique values in the qualifications column
# df.dtypes
df['Qualifications'].unique()

df['Job Title'].unique()

array(['Digital Marketing Specialist', 'Web Developer',
       'Operations Manager', 'Network Engineer', 'Event Manager',
       'Software Tester', 'Teacher', 'UX/UI Designer', 'Wedding Planner',
       'QA Analyst', 'Litigation Attorney', 'Mechanical Engineer',
       'Network Administrator', 'Account Manager', 'Brand Manager',
       'Social Worker', 'Social Media Coordinator',
       'Email Marketing Specialist', 'HR Generalist', 'Legal Assistant',
       'Nurse Practitioner', 'Account Director', 'Software Engineer',
       'Purchasing Agent', 'Sales Consultant', 'Civil Engineer',
       'Network Security Specialist', 'UI Developer', 'Financial Planner',
       'Event Planner', 'Psychologist', 'Electrical Designer',
       'Data Analyst', 'Technical Writer', 'Tax Consultant',
       'Account Executive', 'Systems Administrator',
       'Database Administrator', 'Research Analyst', 'Data Entry Clerk',
       'Registered Nurse', 'Investment Analyst', 'Speech Therapist',
       'Sales Manager', 'Landscape Architect', 'Key Account Manager',
       'UX Researcher', 'Investment Banker', 'IT Support Specialist',
       'Art Director', 'Software Developer', 'Project Manager',
       'Customer Service Manager', 'Procurement Manager',
       'Substance Abuse Counselor', 'Supply Chain Analyst',
       'Data Engineer', 'Accountant', 'Sales Representative',
       'Environmental Consultant', 'Electrical Engineer',
       'Systems Engineer', 'Art Teacher', 'Human Resources Manager',
       'Inventory Analyst', 'Legal Counsel', 'Database Developer',
       'Procurement Specialist', 'Systems Analyst', 'Copywriter',
       'Content Writer', 'HR Coordinator', 'Business Development Manager',
       'Java Developer', 'Supply Chain Manager', 'Event Coordinator',
       'Family Nurse Practitioner', 'Front-End Engineer',
       'Customer Success Manager', 'Procurement Coordinator',
       'Urban Planner', 'Architectural Designer', 'Financial Analyst',
       'Environmental Engineer', 'Back-End Developer',
       'Structural Engineer', 'Market Research Analyst',
       'Customer Service Representative', 'Customer Support Specialist',
       'Business Analyst', 'Social Media Manager', 'Family Lawyer',
       'Chemical Analyst', 'Network Technician', 'Interior Designer',
       'Software Architect', 'Nurse Manager', 'Veterinarian',
       'Process Engineer', 'IT Manager', 'Quality Assurance Analyst',
       'Pharmaceutical Sales Representative', 'Office Manager',
       'Architect', 'Physician Assistant', 'Marketing Director',
       'Front-End Developer', 'Research Scientist', 'Executive Assistant',
       'HR Manager', 'Marketing Manager', 'Public Relations Specialist',
       'Financial Controller', 'Investment Advisor', 'Aerospace Engineer',
       'Marketing Analyst', 'Paralegal', 'Landscape Designer',
       'Web Designer', 'Occupational Therapist', 'Legal Advisor',
       'Marketing Coordinator', 'Dental Hygienist', 'SEM Specialist',
       'SEO Specialist', 'Pediatrician', 'QA Engineer', 'Data Scientist',
       'Financial Advisor', 'Personal Assistant', 'SEO Analyst',
       'Network Analyst', 'Mechanical Designer', 'Marketing Specialist',
       'Graphic Designer', 'Finance Manager', 'Physical Therapist',
       'Product Designer', 'Administrative Assistant', 'Brand Ambassador',
       'Project Coordinator', 'Product Manager', 'IT Administrator',
       'Sales Associate', 'Chemical Engineer', 'Legal Secretary',
       'Market Analyst'], dtype=object)

In [59]:
#Rname the columns names(Those with spaces)
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['Experience', 'Qualifications', 'location', 'Job_Title', 'Role',
       'Job_Description', 'Company'],
      dtype='object')

In [60]:
# convert each column to appropriate data type
df['Experience'] = df['Experience'].astype(str)
df['Qualifications'] = df['Qualifications'].astype(str)
df['location'] = df['location'].astype(str)
df['Job_Title'] = df['Job_Title'].astype(str)
df['Role'] = df['Role'].astype(str)
df['Job_Description'] = df['Job_Description'].astype(str)
df['Company'] = df['Company'].astype(str)


# Verify the conversion
print("Data types after conversion:")
print(df.dtypes)

for i in range(5):
    print(df['Experience'][i], " is type ", type(df['Experience'][i]))
# df['Experience'] = df['Experience'].astype(str)
# df['Qualifications'] = df['Qualifications'].astype(str)
# df.dtypes

Data types after conversion:
Experience         object
Qualifications     object
location           object
Job_Title          object
Role               object
Job_Description    object
Company            object
dtype: object
5 to 15 Years  is type  <class 'str'>
2 to 12 Years  is type  <class 'str'>
0 to 12 Years  is type  <class 'str'>
4 to 11 Years  is type  <class 'str'>
1 to 12 Years  is type  <class 'str'>

In [61]:
#save file to folder path 
df.to_csv('../data/cleaned_job_descriptions.csv', index = False, sep=',', encoding='utf-8')